# Dependencies
node_modules/
**/node_modules/

# Environment files
.env
**/.env
.env.local
.env.*.local

# Expo
.expo/
**/.expo/
dist/
**/dist/
dist-check/
**/dist-check/
web-build/
**/web-build/
*.hbc
expo-env.d.ts

# Native builds
android/
ios/
*.apk
*.aab
*.ipa

# Metro
.metro-health-check*

# Logs
*.log
npm-debug.*
yarn-debug.*
yarn-error.*

# Caches
.cache/
.tmp/

# OS files
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
